@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');
.Results{
  margin: 20px;
  padding: 20px;
}

.dictionaryWord{
  font-family: 'Caveat', cursive;
}

footer{
  text-align: center;
}